<h1>Welcome to User's Home Page!</h1>
<h2><%= link_to "Home Page", root_path %></h2>
<br/>
<% if current_user %>
<%= "Signed in as #{current_user.email}." %>

<%= "Not you?" %>
<%= link_to "Sign_out", destroy_user_session_path, :method => "DELETE" %>
<% else %>
<%= link_to "Sign In", new_user_session_path %>
<% end %>
<br/>
<%= link_to "Register a New User", new_user_registration_path %>
<br/>
<%= link_to "Hidden Page (Only for Signed In Users)", "/user/hidden" %>


